.navbar{
  background-color:rgba(179, 194, 225,0.5);
  grid-area: navbar;
  padding: 10px;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item{
  list-style: none;
}
.menu__link{
  color: #030303;
  text-decoration: none;
}